* {
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; */
    /* max-width: 390px; */
    color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
.mainPage{
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr; /*4 8*/
    /* margin: 0 auto;
    padding: 10px 10px; */
    /* width: max(400px, 50vw); */
    max-width: 390px;
    font-size: 14px;
}

.left_side{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: flex-end; */

}
img{
    width: 180px;
    align-self: center;
    /* margin: 0 auto;*/
    border-radius: 50%;
    margin-bottom: 30px;
} 
.about > .title, .contact > .title {
    font-weight: 600;
    text-transform: uppercase;
}
/* .contact > .text > a {
    color: var(--tg-theme-link-color);
} */
a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: var(--tg-theme-link-color);
}

.name{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.right_side > .jobTitle{
    margin: 14px 0;
    font-size: 18px;
}
.edu > .title, .work > .title {
    /* color: rgb(0, 0, 0); */
    font-weight: 600;
    margin-top: 14px;
}
.edu > .date, .work > .date {
    /* color: rgb(0, 0, 0); */
    /* font-weight: 600; */
    /* margin-bottom: 5px; */
    margin: 0;
}
.edu > .jobTitle, .work > .jobTitle {
    /* color: rgb(0, 0, 0); */
    /* font-weight: 600; */
    /* margin-bottom: 5px; */
    margin: 0;
}

.main_title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(107, 30, 30);
    margin-bottom: 14px;
    padding-bottom: 5px;
}
.work_expirience, .expirience, .contact {
    margin-top: 14px;
}



/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/